*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{

    height: 100vh;

}

header{

    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    background-color: black;

}

header h2{

    color: white;
    margin-left: 10px;

}

header a{

    margin: 5px;
    font-size: 20px;
    text-decoration: none;
    color: white;

}

header button{

    display: none;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border: 0;
    margin-right: 5px;

}

nav{

    display: flex;
    align-items: center;

}

@media screen and (max-width: 431px) {
    nav button{

        display: block;

    }
    nav div{

        display: none;

    }
}

.MenuN{

    display: none;

}

.Menu{

    display: flex;
    z-index: 4;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;

}

.Menu a{

    color: white;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    margin: 10px 0;

}

.Menu button{

    color: white;
    background-color: transparent;
    border: none;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;

}

main{

    display: flex;
    justify-content: center;
    width: 100%;

}

main .Main{

    margin-top: 40px;
    max-width: 800px;

}

main .Main h1, .Main h5{

    margin-top: 10px;

}

main .Main img{

    width: 100%;

}

main aside{

    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 4rem;

}

main aside h3{

    margin-bottom: 5px;

}

main aside a{

    margin-top: 2px;
    color: blue;
    text-decoration: none;

}
